%TMPL:INCLUDE{"foswiki"}%
%TMPL:INCLUDE{"oopsrtfbase"}%
%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:DEF{"content"}%
%TMPL:P{"rtfmessage"}%
%TMPL:P{"topicinfo"}%
%TMPL:END%
