%TMPL:INCLUDE{"oops"}%
%TMPL:INCLUDE{"oopsrtfbase"}%
%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%
%TMPL:DEF{"message"}%
%TMPL:P{"rtfmessage"}%
%TMPL:END%

