%TMPL:DEF{"rtfmessage"}%
<b>%MAKETEXT{"The RTF file has been created successfully."}%</b>

%BUTTON{"%MAKETEXT{"OK"}%" icon="tick" target="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?tab=cv"}%
%BUTTON{"%MAKETEXT{"Download"}%" icon="disk" href="%PARAM1%?t=%GMTIME{"$epoch"}%"}%
%CLEAR%
%TMPL:END%

